<div class="skill">
    <h2 class="skill__title">Compétences</h2>
    <div class="skill__container row">
        <div class="col-md-6 hard">
            <div class="overlay"></div>
            <div class="content">                               
                <app-hardskill [skills] = 'skills'></app-hardskill>
            </div>
        </div>
        <div class="col-md-6 soft">
            <div class="overlay"></div>
            <div class="content">
                <ul>
                    <app-softskill [skills]='softSkills'></app-softskill>
                </ul>                   
            </div>
        </div>
    </div>
</div>
