<div class="skill">
    <div class="container">
        <h2>Compétences</h2>
        <div class="container__skill">
            <div class="hard">
                <div class="overlay"></div>
                <div class="content">
                    <h3>Hardskills</h3>                    
                    <app-hardskill [skills] = 'skills'></app-hardskill>
                </div>
            </div>
            <div class="soft">
                <div class="overlay"></div>
                <div class="content">
                    <h3>SoftSkills</h3>
                    <ul>
                        <app-softskill [skills]='softSkills'></app-softskill>
                    </ul>                   
                </div>
            </div>
        </div>
    </div>
</div>
