<section class="service"> 
    <div class="service__container">
        <h2>{{title}}</h2>
        <div class="card__container"> 
            <div class="first-card">
                <i class="fas fa-diagnoses"></i>
                <h3>{{services[0]?.name}}</h3>
                <p>{{services[0]?.description}}</p>
            </div>           
            <div class="second-card">
                <i class="fas fa-code"></i>
                <h3>{{services[1]?.name}}</h3>
                <p>{{services[1]?.description}}</p>
            </div>
            <div class="third-card">
                <i class="fas fa-paint-brush"></i>
                <h3>{{services[2]?.name}}</h3>
                <p>{{services[2]?.description}}</p>
            </div>         
            
        </div>
    </div>
    <!-- <div class="upshape">
        <img src="../../../assets/images/shape/down.svg" alt="">                   
    </div>  
    <div class="downshape">
        <img src="../../../assets/images/shape/up.svg" alt="">                   
    </div> -->
</section>

