@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.service {
  .upshape {
    width: 100%;
    position: absolute;
    bottom: -70px;
    overflow: hidden;
    img {
      width: 105%;
    }
  }
  .downshape {
    width: 100%;
    margin: auto;
    position: absolute;
    top: -70px;
    overflow: hidden;
    img {
      width: 105%;
    }
  }
  background-color: $primary-color;
  position: relative;
  .service__container {
    width: 90%;
    padding: 20px 0;
    margin: auto;
    @include flex(column, center, center);
    .card__container {
      @include flex(row, center, space-evenly);
      width: 80%;
      .card {
        width: 32%;
        padding: 20px 0;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 4px 27px #3675a8;
        @include flex(column, center, center);
        h3 {
          font-family: $roboto-bold;
          font-size: 30px;
          color: $primary-color;
        }
        p {
          font-family: $roboto-regular;
          font-size: 24px;
          line-height: 32px;
          color: $black-color;
        }
      }
    }
  }
}
