@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.service {
  background-color: $primary-color;
  position: relative;
  .service__container {
    width: 90%;
    padding: 50px 0;
    margin: auto;
    @include flex(column, center, center);
    h2 {
      @include title(#fff);
    }
    .card__container {
      @include flex(row, center, space-between);
      width: 80%;
      .first-card,
      .second-card,
      .third-card {
        width: 32%;
        padding: 20px 0;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 7px #3675a8;
        @include flex(column, center, center);
        i {
          color: $secondary-color;
          font-size: 35px;
          margin-bottom: 10px;
        }
        h3 {
          font-family: $roboto-bold;
          font-size: 27px;
          color: $primary-color;
          text-align: center;
        }
        p {
          font-family: $roboto-regular;
          font-size: 22px;
          color: $black-color;
          text-align: center;
        }
      }
      .first-card {
        animation: moveService 2s ease-in-out 2.5s infinite;
        @include movingService(4px);
      }
      .second-card {
        animation: moveService 2.5s ease-in 2s infinite;
        @include movingService(7px);
      }
      .third-card {
        animation: moveService 2s ease-in-out 2.5s infinite;
        @include movingService(4px);
      }
    }
  }
  .upshape,
  .downshape {
    width: 100%;
    position: absolute;
    bottom: calc(-17%);
    overflow: hidden;
    img {
      width: 105%;
    }
  }
  .downshape {
    top: calc(-17%);
  }
  @media (max-width: 1280px) {
    .service__container {
      padding: 20px 0;
    }
    .upshape {
      bottom: calc(-8.5%);
    }
    .downshape {
      top: calc(-8.5%);
    }
  }
  @media (max-width: 768px) {
    .service__container {
      padding: 20px 0;
      .card__container {
        width: 100%;
        flex-direction: column;
        .first-card,
        .second-card,
        .third-card {
          width: 100%;
          margin: 8px 0;
          i {
            font-size: 25px;
            margin-bottom: 10px;
          }
          h3 {
            font-size: 22px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
    .upshape {
      bottom: calc(-4.2%);
    }
    .downshape {
      top: calc(-4.2%);
    }
  }
  @media (max-width: 540px) {
    .service__container {
      padding: 20px 0;
    }
    .upshape {
      bottom: calc(-2.5%);
    }
    .downshape {
      top: calc(-2.5%);
    }
  }
}
