@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.service {
  .upshape {
    width: 100%;
    position: absolute;
    bottom: -70px;
    overflow: hidden;
    img {
      width: 105%;
    }
  }
  .downshape {
    width: 100%;
    margin: auto;
    position: absolute;
    top: -70px;
    overflow: hidden;
    img {
      width: 105%;
    }
  }
  background-color: $primary-color;
  position: relative;
  .container {
    //width: 90%;
    padding: 20px 0;
    margin: auto;
    @include flex(column, center, center);
  }
}
