@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.about {
  width: 100%;
  background-color: $primary-color;
  position: relative;
  .upshape,
  .downshape {
    width: 100%;
    position: absolute;
    bottom: calc(-25%);
    overflow: hidden;
    img {
      width: 105%;
    }
  }
  .downshape {
    top: calc(-25%);
  }
  .block {
    width: 80%;
    padding: 20px 0;
    margin: auto;
    @include flex(column, center, center);
    h2 {
      @include title(#fff);
    }
    .infos {
      // width: 80%;
      @include flex(column, flex-end, center);
      p {
        width: 100%;
        color: #fff;
        font-family: $roboto-regular;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 30px;
      }
      button {
        @include button($roboto-bold, 24px, $primary-color, #3675a8);
      }
    }
  }
  @media (max-width: 768px) {
    .block {
      width: 95%;
    }
    .upshape {
      bottom: calc(-3.5%);
    }
    .downshape {
      top: calc(-3.5%);
    }
  }
}
// For modal
