<section class="about">    
    <div class="upshape">
        <img src="../../../assets/images/shape/down.svg" alt="">                   
    </div>         
   
    <div class="block">
        <h2>Qui suis-je ?</h2>
        <div class="infos">
            <p>
                Je m'appelle Jordan MOSONGO, étudiant en Génie Informatique à l'université de Kinshasa. Passionné par le code, je me suis lancé dans le développement des applications desktop, 
                web et mobile. En outre, j'élargis mon horizon informatique par des recherches et travaux sur les réseaux informatiques incluant la cybersécurité.
            </p>
          </div>
    </div>
    <div class="downshape">
        <img src="../../../assets/images/shape/up.svg" alt="">                   
    </div>
</section>


