<nav class="header" 
[ngClass] = "{'header-on-scroll' : isHeaderOnScroll}" >
    <div class="block">
        <div class="logo">
            <a href="/">JM</a>
        </div>
        <ul class="menu" >
            <li *ngFor="let item of items; let index = index" >
                <a [href]='item?.linkTo' 
                [ngClass] = "{'active' : index == selectedItemIndex}" 
                (click)="onSelect(index)" >{{item?.name}}</a>
            </li>
        </ul>
       <i class="fas fa-bars mobile-menu" (click) = "onShowOrHideMobileMenu()"></i>           
  </div>
  <ul class="mobile-menu-content" *ngIf = "isMobileMenu == true"
  [ngClass] = "{'hide-mobile-menu-content' : isMenuHidden == true }"
  >
    <li *ngFor="let item of items; let index = index">
       <a [href]='item?.linkTo'
       [ngClass] = "{'active-mobile' : index == selectedItemIndex}" 
       (click)="onSelect(index)">{{item?.name}}</a>
    </li>
  </ul>  
</nav>



