<div class="project">
    <div class="project__container">
        <h2>Projets réalisés</h2>
        <div class="card__container">
            <div class="card__project" *ngFor="let project of projects">
                <div class="image">
                    <img [src]="project.image" alt="">
                </div>
                <div class="description">
                    <h3>{{project.name}}</h3>
                    <p>{{project.description}}</p>
                </div>
                <div class="action">
                    <div class="techno"></div>                    
                    <a href="" class="link">Accéder</a>                    
                </div>
            </div>                  
        </div>
    </div>
</div>
