<section>
    <h2>Projets réalisés</h2>  
    <div class="carousel">
        <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let project of projects">
            <div class="element">
                <div class="image">
                    <img [src]="project.image" alt="">
                </div>
                <div class="description">
                    <h3>{{project.name}}</h3>
                    <p>{{project.description}}</p>
                </div>
                <div class="action">
                    <div class="techno">
                        <div class="over-lay"></div>
                        <div class="container">
                            <figure *ngFor="let techno of project.technos">
                                <img [src]="techno" alt={{project.name}}>
                            </figure>
                        </div>
                    </div>                    
                    <a [href]="project.link" class="link" target="_blanc">Accéder</a>                    
                </div>
            </div>
        </ng-template>  
        </owl-carousel-o>
    </div>
</section>

