@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

section {
  width: 100%;
  padding: 70px 0;
  margin: 70px 0;
  @include flex(column, center, center);
  h2 {
    @include title($primary-color);
  }
  .carousel {
    width: 80%;
    margin: auto;
    .element {
      margin: 0 10px;
      .image {
        height: 16rem;
        width: 100%;
        background-color: $primary-color;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .description {
        padding: 10px 0;
        width: 100%;
        height: 8rem;
        h3 {
          font-size: 24px;
          font-family: $roboto-bold;
          color: $primary-color;
        }
        p {
          font-size: 20px;
          font-family: $roboto-regular;
        }
      }
      .action {
        width: 100%;
        .techno {
          width: 100%;
          height: 40px;
          position: relative;
          .over-lay {
            background-color: $primary-color;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
          .container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include flex(row, center, flex-start);
            figure {
              margin: 0 5px;
              img {
                width: 30px;
              }
            }
          }
        }
        .link {
          margin-top: 20px;
          width: 100%;
          height: 40px;
          background-color: #fff;
          @include flex(row, center, center);
          font-size: 25px;
          color: $primary-color;
          font-family: $roboto-bold;
          border: 2px solid #d3e7fb;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 10px 0;
    margin: 50px 0;
    .carousel {
      width: 90%;
      .element {
        margin: 0 2px;
        .image {
          height: 13rem;
        }
        .description {
          height: unset;
          h3 {
            font-size: 20px;
          }
          p {
            display: none;
          }
        }
        .action {
          .link {
            font-size: 20px;
          }
        }
      }
    }
  }
}
