@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
li {
  list-style: square;
  font-family: $roboto-regular;
  font-size: 24px;
  color: $gray-color;
  margin-bottom: 40px;
  margin-left: 40px;
  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-top: 5px;
  }
}
