@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";

ul {
  width: 90%;
  margin: auto;
  @include flex(row, center, center);
  flex-wrap: wrap;
  .item {
    width: 33%;
    height: 200px;
    margin-bottom: 20px;
    list-style: none;
    @include flex(column, center, space-between);
    .item__head {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 7px solid $secondary-color;
      border-top-color: $top-skill-color;
      position: relative;
      @include flex(row, center, center);
      &::after {
        position: absolute;
        bottom: -40px;
        content: "";
        width: 7px;
        height: 40px;
        background-color: $secondary-color;
      }
      &::before {
        position: absolute;
        bottom: -55px;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $secondary-color;
      }
      img {
        width: 70%;
      }
    }
    span {
      font-family: $roboto-regular;
      font-size: 22px;
      color: $gray-color;
      text-align: center;
    }
  }
  @media (max-width: 1280px) {
  }
  @media (max-width: 768px) {
    width: 95%;
    .item {
      height: 150px;
      .item__head {
        width: 80px;
        height: 80px;
        border: 3px solid $secondary-color;
        &::after {
          bottom: -30px;
          width: 3px;
          height: 30px;
          background-color: $secondary-color;
        }
        &::before {
          bottom: -35px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $secondary-color;
        }
        img {
          width: 75%;
        }
      }
      span {
        font-size: 20px;
      }
    }
  }
}
