@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";
.banner {
  height: 100vh;
  width: 100%;
  @include flex(row, center, center);
  .block {
    width: 90%;
    height: 80%;
    margin: auto;
    @include flex(row, center, flex-start);
    img {
      width: 45%;
    }
    .identity {
      width: 45%;
      height: inherit;
      position: relative;
      .back-image {
        width: 80%;
        height: 80%;
        position: absolute;
        right: 0;
        background-image: url("../../../assets/images/shape/ellipse.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
      @include flex(column, center, center);
      h1 {
        color: $secondary-color;
        font-size: 70px;
        font-family: $roboto-bold;
        font-weight: bold;
        z-index: 2;
      }
      p {
        color: rgb(134, 131, 131);
        font-size: 35px;
        font-family: $roboto-regular;
        font-weight: bold;
        z-index: 2;
      }
    }
  }
  @media (max-width: 1280px) {
    height: 85vh;
    .block {
      img {
        width: 50%;
      }
      .identity {
        width: 50%;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 30px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: 47vh;
    .block {
      img {
        width: 55%;
      }
      .identity {
        width: 45%;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width: 540px) {
    height: 65vh;
    .block {
      img {
        width: 100%;
      }
      .identity {
        display: none;
      }
    }
  }
}
