<div class="banner">
    <div class="ellipse">
        <svg width="750" height="384" viewBox="0 0 720 384" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M790.76 80.544C790.76 206.744 840.36 584.415 472.74 247.754C366.733 110.984 0 219.132 0 44C0 -82.2005 17.6024 -198 238.358 -198C459.114 -198 790.76 -45.6565 790.76 80.544Z" fill="#3597E5"/>
        </svg>
    </div>
    <div class="container">       
         <img src="assets/images/jordan-bg.png" alt="jordan"/> 
         <div class="identity">
            <h1><strong>Jordan MOSONGO</strong></h1>
            <p>Développeur full stack</p>
         </div>  
    </div>
</div>