@import "./variables.scss";
@mixin flex($direction, $align, $jusify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $jusify;
}
@mixin title-line($color) {
  content: "";
  width: 30px;
  height: 4px;
  background-color: $color;
  position: absolute;
  @media (max-width: 768px) {
    width: 22px;
  }
}
@mixin title($color) {
  color: $color;
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
  font-family: $roboto-bold;
  @include flex(column, center, center);
  &::before {
    @include title-line($secondary-color);
    left: -20%;
  }
  &::after {
    @include title-line($secondary-color);
    right: -20%;
  }
  @media (max-width: 768px) {
    font-size: 27px;
    margin-bottom: 15px;
  }
}
@mixin button($family, $size, $color, $shadow) {
  background-color: #fff;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 4px 27px $shadow;
  color: $color;
  cursor: pointer;
  font-family: $family;
  font-size: $size;
  padding: 15px 25px;
  outline: none;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 35px $shadow;
    transition: 0.3s ease-in-out;
  }
}
@mixin basicLinkStyle($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  text-decoration: none;
  color: $color;
}
@mixin movingService($pixel) {
  @keyframes moveService {
    0% {
      transform: translateY($pixel);
      transition: 0.7s ease;
    }
    50% {
      transform: translateY(0);
      transition: 0.7s ease;
    }
    100% {
      transform: translateY($pixel);
      transition: 0.7s ease;
    }
  }
}
