@import "./variables.scss";
@mixin flex($direction, $align, $jusify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $jusify;
}
@mixin title-line($color) {
  content: "";
  width: 25%;
  height: 4px;
  background-color: $color;
  position: absolute;
}
@mixin title($color) {
  color: $color;
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
  font-family: $roboto-regular;
  @include flex(column, center, center);
  &::before {
    @include title-line($secondary-color);
    left: -35%;
  }
  &::after {
    @include title-line($secondary-color);
    right: -35%;
  }
}
@mixin button($family, $size, $color, $shadow) {
  background-color: #fff;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 4px 27px $shadow;
  color: $color;
  cursor: pointer;
  font-family: $family;
  font-size: $size;
  padding: 15px 25px;
  outline: none;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 35px $shadow;
    transition: all 0.3s ease-in-out;
  }
}
@mixin basicLinkStyle($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  text-decoration: none;
  color: $color;
}
