@font-face {
  font-family: Berkshire;
  src: url("../../assets/fonts/BerkshireSwash-Regular.ttf");
}
@font-face {
  font-family: DMSans-regular;
  src: url("../../assets/fonts/DMSans-Regular.ttf");
}
@font-face {
  font-family: DMSans-bold;
  src: url("../../assets/fonts/DMSans-Bold.ttf");
}

/*
color variables
*/
$primary-color: #3597e5;
$secondary-color: #f9bb0b;
$black-color: #3a3628;
$gray-color: rgb(105, 100, 100);
$top-skill-color: #f6d373;
/*
family variables
*/
$roboto-bold: DMSans-bold;
$roboto-regular: DMSans-regular;
$logo-font: Berkshire;
